# Core functionality - changes here should be rare!
/src/app.py                   @Jusgotklipped
/src/backend/database.py      @Jusgotklipped
/src/backend/routers/auth.py  @Jusgotklipped

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Jusgotklipped
